.ContactUstable
{
    width:100%;
}

.pageControl
{
    text-align:center;
    margin-bottom:-60px;
    margin-top:-20px; 
    padding:3px,10px;
}
.selected {
	background-color:teal;
	color:white;
	font-weight:bold;
}

/*menu bar*/ 
.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }

.headerIcon{
   align-items:flex-end; 
   margin-left:450px;
   border-style: none;
}

.HomeIcon {
   background: url(../images/Home.png);
   display: inline-block;
   height:32px; 
   width: 32px; 
   content:"";
   align-items:flex-end; 
   border-style: none;
   cursor:pointer;
}

.HomeIcon:hover {
   background: url(../images/HomeRed.png);
}

.EmailIcon {
   background: url(../images/Email.png);
   display: inline-block;
   border-style: none;
   height:32px; 
   width: 32px; 
   content:"";
   align-items:flex-end;
   cursor:pointer; 
}

.EmailIcon:hover {
   background: url(../images/EmailRed.png);
}

.FacebookIcon {
   background: url(../images/Facebook.png);
   border-style: none;
   display: inline-block;
   height:32px; 
   width: 32px; 
   content:"";
   align-items:flex-end; 
   cursor:pointer;
}

.FacebookIcon:hover {
   background: url(../images/FacebookRed.png);
}

.TwitterIcon {
   background: url(../images/Twitter.png);
   border-style: none;
   display: inline-block;
   height:32px; 
   width: 32px; 
   content:"";
   align-items:flex-end; 
   cursor:pointer;
}

.TwitterIcon:hover {
   background: url(../images/TwitterRed.png);
}

.ContactIcon {
   background: url(../images/Contact.png);
   border-style: none;
   display: inline-block;
   height:32px; 
   width: 32px; 
   content:"";
   align-items:flex-end; 
   cursor:pointer;
}

.ContactIcon:hover {
   background: url(../images/ContactRed.png);
}
.AboutIcon {
   background: url(../images/About.png);
   border-style: none;
   display: inline-block;
   height:32px; 
   width: 32px; 
   content:"";
   align-items:flex-end; 
   cursor:pointer;
}

.AboutIcon:hover {
   background: url(../images/AboutRed.png);
}

/*Date Control CSS*/
 .datepicker md-content {
            padding-bottom: 200px;
        }

        .datepicker .validation-messages {
            font-size: 11px;
            color: darkred;
            margin: 10px 0 0 25px;
        }

.hyperlinktext {
    cursor: pointer;
    font-weight: normal;
    color: blue;
    text-decoration:underline;
    margin-left:500px;
}

.imageSpace {
    overflow: hidden;
    background-color:black;
}

.slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 5px solid black;
    margin-top: 10px;
    z-index:-1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    height:400px;
    width:800px;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../images/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 2;
    left: 20px;
    background-image: url(../images/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 2;
    right: 20px;
    background-image: url(../images/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../images/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../images/paddle_next_fff.png);
}

/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}

/* Index Page Image Style */

.headerText{
    color:white;font-size:xx-large; align-content:center; font-weight:bold; padding-left:10px;
}

.tableHeader {
    /*background-color:teal;*/
}
.topHeading{
    margin:0px;
}
.buttonAlign{
    margin-bottom:10px;
    cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome */
  color: lightgray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightgray;
}
.subHeading {
    position: relative;
    top: 1px;
    display: inline-block;
    /*font-family: 'Glyphicons Halflings';*/
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    outline: none;
    border: 0px;
    background-color:transparent;
    color:#c12e2a;
    width:auto;   
}

.pageNumber
{
    margin-top:-10px;
    margin-bottom:20px;        
}
.addarea {
  height:100%;
  margin-top:150px;
}

.odd { 
  /*background-color:lightgray;*/
}
.even {
  
  /*background-color:lightgray;*/
}

tr:hover{
    background-color:lightgray;
}
.clicked
{
/*background-color:aliceblue;*/
}
.custom-class{
  background-color: gray
}

.default-color{
  background-color: red
}

tr[ng-click] {
    cursor: pointer;
}

.iui-treegrid-column-header-cell, .iui-treegrid-column-footer-cell, .iui-treegrid-row-cell-content
{
padding: 1px 0;
}
.iui-treegrid-row-cell-content
{
padding: 2px 0;
}
.row-highlight
{
background: #008000;
color: white;
}
.checkbox
{
width: 14px;
margin: auto;
}
.checkbox-checked
{
border-color: red;
color: red;
}
.checkbox-unchecked
{
border-color: #000080;
}

.FooterText{
    color:white;
    align-content:center;
    margin-top:30px;
    cursor:pointer;
}

#header {
    height:50px;
    width:100%;
    top:0px;
    left:0px;
    background: teal;
    position:fixed;
}
#footer {
    height:50px;
    width:100%;
    bottom:0px;
    left:0px;
    background: teal;
    position:fixed;  
    }
#main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:80%;
    padding: 0 20px;
}
#content > div {
    padding: 70px 0;
}

/*Model Popup CSS*/
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal-title
{
    color:white;font-size:small; align-content:center; font-weight:bold; padding-left:0px;
}

.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 660px;
    margin-left: -280px;
    /*background-color: #ffffff;*/
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
}
  
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 30%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color:teal;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body-success {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
  font-weight:bold;
  color:forestgreen;
}
.modal-body-error {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
  font-weight:bold;
  color:red;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
