<div class="navbar-fixed-top">
        <div class="navbar-header">
            <div class="themeblvd-contact-bar">
                <div class="headerText">
                    Family Tree Dental Clinic
                    <span><a href="#" class="headerIcon">
                            <img class="HomeIcon" ng-click="Home()" /></a></span>
                    <span><a href="mailto:familytreedentalclinic@gmail.com" target="_blank">
                        <img class="EmailIcon" ng-click="Email()" /></a></span>
                    <span><a>
                        <img class="FacebookIcon" ng-click="OpenWindow('www.facebook.com/familytreedentalclinic')" /></a></span>
                    <span><a>
                        <img class="TwitterIcon" ng-click="OpenWindow('www.twitter.com')" /></a></span>
                    <span><a>
                        <img class="ContactIcon" ng-click="Scroll('contactUs')" /></a></span>
                    <span><a>
                            <img class="AboutIcon" ng-click="Scroll('aboutUs')" /></a></span>
                 </div>
            </div>
       </div>
   </div>